.env
test.py
*.pyc
*.json
!names/names.json
*.png
!charGlyph/*.png
!glypths/*.png
!ahh/*.png
!floor/*.png
!winterfacePictures/*.png
!test/*.png
!times/*.png
ahh/6floor.pngtest.png
ahh/6time.pngtest.png
ahh/11.pngtest.png
ahh/22.pngtest.png
ahh/33.pngtest.png
ahh/44.pngtest.png
ahh/55.pngtest.png
character/11.png
character/12.png
character/13.png
character/14.png
character/15.png
floor/1floor.png
floor/6floor.png
test/2 2.png
test/3 3.png
test/4 2.png
test/4 3.png
test/6 2.png
test/8 2.png
test/9 2.png
test/10 2.png
test/11 2.png
test/12 2.png
test/12 3.png
test/13 3.png
test/15 2.png
test/15 3.png
test/16 2.png
test/18 2.png
test/19 2.png
test/20 2.png
test/20 3.png
test/23 2.png
test/24 2.png
test/26 2.png
test/33 2.png
test/34 0.png
test/34 2.png
test/35 2.png
test/35 3.png
test/36 2.png
test/37 2.png
test/38 3.png
test/39 2.png
test/39 3.png
test/42 3.png
test/43 3.png
test/46 2.png
test/50 2.png
test/51 2.png
test/52 5.png
test/59 2.png
times/1time.png
times/6time.png
